@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garble</h1>
    <p class="lead">Welcome to Garble, where you can schedule garbage pickups! DON'T DELAY, SCHEDULE A PICKUP TODAY!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Don't click this &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click the links above, not this junk down here.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">A button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more pickups</h2>
        <p>But do you really want more? Seriously, how much garbage do you have?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Another button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This is nothing important</h2>
        <p>Trying to figure out ASP.NET is like trying to cut off your own arm with a butter knife</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Don't click buttons if you don't know what they do. &raquo;</a></p>
    </div>
</div>