<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css"
      rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing,geometry"></script>
 
@{
    ViewBag.Title = "MapRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Map Route</h2>
<br />

<style>
    #mapDiv img {
        max-width: none !important;
    }
</style>


