
@{
    ViewBag.Title = "ViewPickupsByZip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>View Today's Pickups By Zip</h2>
<br />
<h4>View the pickups scheduled for today, by zip code.</h4>
