@using Garble.Models;

@model Customer

@{
    ViewBag.Title = "SchedulePickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm("SchedulePickup", "Customers"))*@
<h2>Schedule A Pickup</h2>
<br />
<h4>Here, you can schedule the day of the week when you'd like to receive a garbage pickup, or change your current selected day.</h4>
<br />

@Html.DropDownList("PickupDay",
                    new SelectList(Enum.GetValues(typeof(DayOfWeek))),
                    "Select New Pickup Day",
                    new { @class = "form-control" })


<br /><br /><br />


<button type="submit" class="btn btn-primary">Save</button>