
@{
    ViewBag.Title = "ScheduleVacation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Schedule Vacation Lapse</h2>
<br />
<h4> Here, you can specify when you're going to be away, so that we will not come by to make a pickup.</h4>